
# Thêm các package Python cần thiết cho dự án vào đây
# Ví dụ:
# numpy
# pandas
# langchain
# sentence-transformers
# faiss-cpu
# transformers
streamlit
google-generativeai
PyMuPDF
pdfminer.six
PyPDF2
pdfplumber
PyYAML
pytest
pytest-cov
pytest-mock
camelot-py[cv]
ftfy
clean-text
spacy
rank_bm25
tiktoken
faiss-cpu
numpy
requests
pyyaml
openai
