PyMuPDF
pdfminer.six
PyPDF2
pdfplumber
PyYAML
pytest
pytest-cov
pytest-mock
camelot-py[cv]
ftfy
clean-text
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
rank_bm25
tiktoken
faiss-cpu
numpy
requests
streamlit
google-generativeai
openai
unidecode
whoosh
pymarkdownlnt
