# HuggingFace API Token (required for E5-Large Multilingual embeddings via HF API)
HF_TOKEN = "hf_thisisaexampleofhfapikey"

# Google Gemini API Key (required for Gemini LLM inference)

gemini_api_key = "AIzaAIzathisisaexampleofgeminiapikey"